{% extends "base_tpv.html" %}
{% load static %}

{% block contenido %}

	{{cliente}}

	<a href="{% url 'cliente_nuevo' %}">Nuevo cliente</a>
	<table class="table table-hover table-striped table-bordered">
		<th>Clientes</th>
		<th>Accion</th>

	{% for i in cliente %}
		<tr>
			<td>{{i.nombre}}</td>
			<td><a href="{% url 'cliente_editar' pk=i.id %}">Editar</td>
			<td><a href="{% url 'cliente_eliminar' pk=i.id %}">Eliminar</td>

		</tr>
	{%endfor %}
    </table>

{% endblock %}

{% block titulo %}
Clientes
{% endblock %}