{% extends "base_tpv.html" %}
{% load static %}

{% block contenido %} 
	
	<a href="{% url 'dep_nuevo' %}">Nuevo dpto</a>
	<table class="table table-hover table-striped table-bordered">
		<th>Departamentos</th>
		<th>Accion</th>

	{% for i in dep %}
		<tr>
			<td>{{i.nombre}}</td>
			<td><a href="{% url 'dep_editar' pk=i.id %}">Editar</td>
			<td><a href="{% url 'dep_eliminar' pk=i.id %}">Eliminar</td>

		</tr>
	{%endfor %}
    </table>
 
{% endblock %}


{% block titulo %}
Clientes
{% endblock %}